@tailwind base;
@tailwind components;
@tailwind utilities;

    .no-scrollbar::-webkit-scrollbar {
        display: none;
      
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}